@use '../../base/mixins' as m;
@use '../../base/variables' as v;

.navegacion {
    display: flex;
    flex-direction: column;
    @include m.desktop {
        flex-direction: row;
    }
    &__enlace {
        color: v.$negro;
        font-size: 1.5rem;
        padding: 2rem;
        text-transform: uppercase;
        text-align: center;

        &:hover {
            // background-color: v.$blanco;
            color: v.$azul;
        }
    }
}